
.Timeline-text{
    color: #3c4468;
}
.date-style{
    color: #a1a0bd;
}
.vertical-timeline-element-title {
    color: #9b3636;
}
.vertical-timeline-element-subtitle {
    color: #cc4a4a;
}
